body{
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    
}
.item:hover{
    filter:brightness(60%);


}
.item{
    transition: .5s ease-in-out;
    margin-top: 5%;
}
